

body {
  background-color: black;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Helvetica;
  margin: 0;
  color: seashell;
}

.header {
  color: seashell;
  background-color: black;
  opacity: 0.9;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed;
  display: inline-flex;

}

.logo {
  display: flex;
  margin: 10px;
  height: 50px;
  margin: 10px;
}

.space {
  flex-grow: 1
}

a {
 display: inline-flex;
 color: seashell;
 font-size: 22px;
 font-family: Helvetica
 justify-content: center;
 align-items: center;
 margin-right: 20px;
}

.mainpic {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  height: 700px;
  width: 1200px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding-top: 69px;
}

.mission {
  color: seashell;
  background-color: black;
  align-items: center;
  width: 1200px;
  align-items: center;
  flex-grow: 1;
  font-family: Helvetica
  display: block;
  padding: 20px 210px;
  text-align: center;
}


.month {
  color: seashell;
  text-align: center;
}

#tea img {
  height: 200px;
  width: 300px;
}

#tea {
color: seashell;
text-align: center;
display: flex;
justify-content: center;
margin: 0 auto;
width: 1000px;
flex-wrap: wrap;
}

.fall {
  display: block;
  margin: 30px 15px
}

.spiced {
  display: block;
  margin: 30px 15px
}

.donuts {
  display: block;
  margin: 30px 15px
}

.myrtle {
  display: block;
  margin: 30px 15px
}

.bizarre {
  display: block;
  margin: 30px 15px
}

h2,
h3,
h4  {
  padding: 10px;
  margin: 0;
}

#locations {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  height: 500px;
  width: 1100px;
  padding-top: 70px;
  justify-content: center;
  display: flex;
  margin: auto;
  text-align: center;
}

#locations .flex-container {

  display: flex;
  align-items: center;

}


.location {
  flex-basis: 280px;
  display: block;
  flex-direction: column;
  text-align: center;
  background-color: black;
  padding: 10px;
  margin: 5px 20px;
  width: 300px;
  opacity: 1.0;

}
